@import '../../styles/spec/settings/breakpoints.scss';

.stock-list {
  float: left!important;
  width: 250px;
  transition: margin-left .3s ease-in-out;
}

@media screen and (max-width: $breakpoint-md) {
  .close-stocks .stock-list {
    margin-left: -300px;
  }
}

@media screen and (max-width: $breakpoint-xs) {
  .stock-list {
    float: none!important;
    width: auto;
  }

  .close-stocks .stock-list {
    display: none;
  }
}
